@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>A Hack-a-thon 2017 project. Visit our project page <a target="_top" href="https://garagehackbox.azurewebsites.net/hackathons/1074/projects/64862">here</a>.</p>

<p>Contact: <a href="mailto:hasing@microsoft.com">hasing@microsoft.com</a></p>
