@{
    ViewData["Title"] = "Home Page";
}

<h2>Representatives</h2>
<ul>
    <li><a href="Representatives">Look up Representatives by Zip Code</a></li>
    <li><a href="Representatives/SenateList">List of Senators</a></li>
    <li><a href="Representatives/HouseList">List of House Representatives</a></li>
</ul>
