@model IEnumerable<CongressWatchWeb.Models.RepresentativeDetail>

@{
    ViewData["Title"] = "Senate";
}

<h2>Senate</h2>

<form>
    <table class="table table-rep">
        <thead>
            <tr class="tr-rep-head">
                <th>
                </th>
                <th>
                    Name
                </th>
                <th>
                    Party
                </th>
                <th>
                    Phone
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tr-rep tr-rep-party-@Html.ValueFor(modelItem => item.party)">
                    <td>
                        <input type="checkbox" name="id" value="@Html.ValueFor(modelItem => item.representativeId)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstName) @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    @if (Html.ValueFor(modelItem => item.party) == "0")
                    {
                        <td>Democratic</td>
                    }
                    else if (Html.ValueFor(modelItem => item.party) == "1")
                    {
                        <td>Republican</td>
                    }
                    else if (Html.ValueFor(modelItem => item.party) == "2")
                    {
                        <td>Independent</td>
                    }
                    else if (Html.ValueFor(modelItem => item.party) == "3")
                    {
                        <td>Socialist</td>
                    }
                    else if (Html.ValueFor(modelItem => item.party) == "4")
                    {
                        <td>Communist</td>
                    }
                    else if (Html.ValueFor(modelItem => item.party) == "5")
                    {
                        <td>Green</td>
                    }
                    else if (Html.ValueFor(modelItem => item.party) == "6")
                    {
                        <td>Other</td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>