@model IEnumerable<CongressWatchWeb.Models.Representative>

@{
    ViewData["Title"] = "Representatives By ZipCode";
}

<h2>Representatives By Zip Code</h2>

<table class="table table-rep">
    <thead>
        <tr class="tr-rep-head">
            <th>Name</th>
            <th>State</th>
            <th>Chamber</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="tr-rep">
            <td>@Html.DisplayFor(modelItem => item.firstName) @Html.DisplayFor(modelItem => item.lastName)</td>
            <td>@Html.DisplayFor(modelItem => item.state)</td>
            @if (Html.ValueFor(modelItem => item.chamber) == "0")
            {
                <td>House</td>
            }
            else if (Html.ValueFor(modelItem => item.chamber) == "1")
            {
                <td>Senate</td>
            }
        </tr>
}
    </tbody>
</table>
